<!-- This ID is important and if changed will not display images properly -->
<div id="consent" align="center"></div> <br/>
<div class="consent_frag">
  <div class='experiment_overview'> 
  	<h1>Cause and Effect: overview</h1>
  <ul class='overview-list'> <li> <b> Age range: </b> 3-, 4-, and 5-year-olds</li> 
       <li> <b> Duration: </b> Five to ten minutes </li> 
       <li> <b> What happens: </b> We'll read some pages from simple storybooks out loud to your child. Then we'll ask your child why he or she thinks some of the events in the story occurred.</li> 
	   <li> <b> What we're studying: </b> How children reason about cause and effect. </li> </ul>
  </div>

    <div id='consent_div'> </div>

</div>