<!-- This ID is important and if changed will not display images properly -->
<div id="consent" align="center"></div> <br/>
<div class="consent_frag">
  <div class='experiment_overview'> 

  <h1> Learning new verbs: overview </h1> 
 <ul> <li> <b> Age range: </b> 2-year-olds</li> 
       <li> <b> Duration: </b> About ten minutes </li> 
       <li> <b> What happens: </b> Your child will identify some familiar verbs, then hear a conversation that introduces a new verb and match it to an action </li> 
	   <li> <b> What we're studying: </b> What your child thinks the new verbs probably mean, as evidenced by his/her looking preferences.   After the study, we'll provide a more complete explanation. </li> </ul>
  </div>

  <div id='consent_div'> </div>

</div>

