<!-- This ID is important and if changed will not display images properly -->
<div id="consent" align="center"></div> <br/>
<div class="consent_frag">
  <div class='experiment_overview'> 
  <h1> Listening to syllables: overview </h1> 
  <ul class='overview-list'> <li> <b> Age range: </b> 6 months through 10 months</li> 
       <li> <b> Duration: </b> Five minutes </li> 
       <li> <b> What happens: </b> Your child will hear several short sequences of spoken syllables, separated into a &quotFamiliarization&quot phase and a &quotTest&quot phase. </li> 
	   <li> <b> What we're studying: </b> How much your child looks during some test trials versus others </li> 
  </div>
  
 <div id='consent_div'> </div>

</div>
