<div class="about_frag instructions">

<img id='logoimg' src='./img/logo.jpg' style="*margin-top:15px;">
<div class='blurb' id='aboutblurb'>
<div class='text'>
<div class="title">
<h2><p>Bringing science home</h2>
</div>
	
    <p>Here at MIT's Early Childhood Cognition Lab, we're trying a new approach in developmental psychology: bringing the experiments to you.</p>
	
<div class="title">
    <h2><p>Help us understand how your child thinks</h2>
	</div>	
	<p>Our online studies are quick and fun, and let you as a parent contribute to our collective understanding of the fascinating phenomenon of children's learning. In some experiments you'll step into the role of a researcher, asking your child questions or controlling the experiment based on what he or she does.</p>
	
	<div class="title">
    <h2><p>Participate whenever and wherever</h2>
	</div>	
	    <p>Log in or create an account at the top right to get started!  You can participate in studies from home by doing an online activity with your child that is videotaped via your webcam.</p>
	
</div>


</div>

<div class='blurb' id='newsblurb'>
<img src='./img/lookitlogo.png' style='height:200px; width: 200px'>
<div class="title">
    <h2><p>News</h2>
</div>	
<p>
<table>
<tr> 
<td> Feb. 5, 2014 </td> <td> Testing of Lookit within the MIT community begins!  Many thanks to our first volunteers. </td>
</tr>
</table>
</div>

</div>