<div class="account">	
<h3>My Account</h3> 
<div class='blurb'>
<h3 id = "pro">Profile details</h3>
<ul>			
<li><a href="#" id="acc_edit" onclick="register('false');">Edit Account/child registration details</a></li>
</br>
<li><a href="#" onclick="show_demographic();" id="demo_survey">Take or update my demographic survey</a></li>
</ul>	</div>
<div><h3>Previous Studies</h3></div><!--<div id = "message" style="text-align: center; margin-top: 18px; font-size: 16px;"></div>--><div id = "experi"></div></div>
