<!-- This ID is important and if changed will not display images properly -->
<!--<div id="consent" align="center"></div> <br/>-->

<div class="consent_frag">

	<div class='experiment_overview'> 
	  <h1> Back and forth study</h1>
	  <ul class='overview-list' style='list-style:none'> <li> <b> Age range: </b> 8 months to 18 months</li> 
		   <li> <b> Duration: </b> Ten minutes </li> 
		   <li> <b> What happens: </b> Your child will first see videos of a woman walking from right to left, over and over.  We'll then show a short piece of her trip either backwards or forwards, and see what your child predicts will happen next.</li> 
		   <li> <b> What we're studying: </b> How infants represent the "arrow of time."</li> </ul>
	</div>
	
	<div id='consent_div'> </div>
	
</div>
