<br>
	
	<p> If you'd like to participate, please read through the following information and then record your consent statement. </p>
	
	<div class='consent_form'>
	
	<h2 style='text-align:center'><em> Consent to participate in behavioral research: <br> Inference and induction study</em></h2>

	<h2> About the study </h2>
	<p>Observing your child's behavior during this study will help us to understand how infants and children use evidence to learn and make predictions about the world.  From our standpoint there are no right or wrong answers; we are just interested in what your child thinks and does!
	<h2>Participation and withdrawal</h2>
	<p>Your and your child's participation in this study are completely voluntary and you are free to choose whether to participate.  If you and your child choose to participate, you may subsequently withdraw from the study at any time without penalty or consequences of any kind.  You or your child may also stop the experiment if at any point your child indicates that he or she does not want to participate. </p>
	<h2>Data collection and use</h2>
	<p>During the experiment, you and your child will be recorded via your computer's webcam and microphone while watching a video or completing an activity.  You or your child may also fill out short surveys.  This data is stored only on your own computer during the experiment.  After the experiment ends (or if you choose to end it early), you will decide whether to transmit this data securely to our lab.  All recordings are encrypted before being transmitted.</p>
	<p>Recordings and survey responses will be stored on a password-protected server and accessed only by MIT scientists.  A trained researcher may transcribe responses or record information such as where you or your child is looking and his/her facial expressions.  Data are used for academic purposes only  and will not be used to identify you or your child. The only additional information we will have is the time at which you completed the study and the amount of time you spent to complete it.  The results of the research, including video clips, may be presented at scientific meetings or published in scientific journals.</p>
	<h2>Contact information</h2>
	<p>If you or your child have any questions or concerns about the research, please feel free to contact:</p>
	Associate Professor Laura Schulz <br>&#108;schu&#108;z&#64;mit&#46;edu<br>					   
	(617)253-7957 <br>
	MIT Dept of Brain & Cognitive Sciences, 			 	 
	77 Massachusetts Avenue 46-4011,
	Cambridge, MA  02139</p>
	
	</div>
<br>
<p>To record your consent to participate, please press 'Record' to turn on your webcam, then read the statement in the box below out loud and press 'Done' when you're finished.  Press 'Send' to send this recording as a record of your consent to participate.  (You can re-record the statement if needed.)</p>

<h3 class='consent_box'><b>"I have read and understand the information above.  I am this child's legal guardian and we both agree to participate in this study."</b><div id='recording-indicator'></div></h3>