<div class="contact_frag">
<div class='rightblurb'> <img src='img/mail.png'/> </div>
<div class='blurb leftblurb'>
<h2> Technical difficulties</h2>
  <p>
    To report any technical difficulties during participation, please contact our team by email at <b>lookit-tech@mit.edu</b>.
	</div>
	<div class='blurb leftblurb'>
<h2> Questions about the studies</h2>
  <p>
    If you have any questions or concerns about the studies, please first check our <a onclick="page.show('faq')">FAQ</a>.  With any additional questions, please contact us at <b>lookit@mit.edu</b>.
	</div>
	
	<div class='blurb leftblurb'>
	<p><h2>Suggestions and collaborations</h2>
	 <p>
    We are glad to share code and provide guidance on setting up your own webcam-based experiments online, or discuss possibilities for collaboration.  We welcome inquiries and ideas from students at all levels!
  </p>
  </div>
  
  
  
  </div>

</div>
