<div class="contact_frag">
<div class='rightblurb'> <img src='img/mail.png'/> </div>
<div class='blurb leftblurb'>
<h2> Technical difficulties</h2>
  <p>
    To report any technical difficulties during participation, please contact our team by email at <b><a href='mail&#116;o&#58;loo%&#54;&#66;%&#54;9t-&#116;ech%40&#109;i%74&#46;e&#100;u'>look&#105;t-tech&#64;mit&#46;&#101;du</a></b>.
	</div>
	<div class='blurb leftblurb'>
<h2> Questions about the studies</h2>
  <p>
    If you have any questions or concerns about the studies, please first check our <a onclick="page.show('faq')">FAQ</a>.  With any additional questions, please contact us at <b><a href='mailto&#58;&#108;%6F&#111;%6&#66;it%40mi%&#55;4&#46;%65%&#54;4u'>look&#105;&#116;&#64;m&#105;&#116;&#46;edu</a></b>.
	</div>
	
	<div class='blurb leftblurb'>
	<p><h2>Suggestions and collaborations</h2>
	 <p>
    We are glad to share code and provide guidance on setting up your own webcam-based experiments online, or discuss possibilities for collaboration.  We welcome inquiries and ideas from students at all levels!
  </p>
  </div>
  
  
  
  </div>

</div>
