<div id='examples' class='contact_frag'>

<p> Before beginning a study, the parent makes a recorded statement of consent to participate:

<video class='participantvideo' controls>
  <source src= "video/mp4/causal_ex2_consent.mp4"  type="video/mp4">
  <source src="video/webm/causal_ex2_consent.webm" type="video/webm">
  <source src= "video/ogv/causal_ex2_consent.ogv"  type="video/ogg">
</video>

<p> Studies with preschoolers often simply rely on verbal responses:

<video class='participantvideo' controls>
  <source src= "video/mp4/causal_ex2.mp4"  type="video/mp4">
  <source src="video/webm/causal_ex2.webm" type="video/webm">
  <source src= "video/ogv/causal_ex2.ogv"  type="video/ogg">
</video>

<p> With younger children and infants, we often design our studies to use children's looking behavior rather than verbal responses.

<p> We check that we can tell roughly where on the screen children are looking (left or right) by showing a simple video like this one:

<video class='participantvideo' controls>
  <source src= "video/mp4/ag.mp4"  type="video/mp4">
  <source src="video/webm/ag.webm" type="video/webm">
  <source src= "video/ogv/ag.ogv"  type="video/ogg">
</video>

<p> Here are some participants watching the video.  You can clearly see their eyes move from one side to the other!

<video class='participantvideo' controls>
  <source src= "video/mp4/spinningball.mp4"  type="video/mp4">
  <source src="video/webm/spinningball.webm" type="video/webm">
  <source src= "video/ogv/spinningball.ogv"  type="video/ogg">
</video>

<p> In the "Learning New Verbs" study, a replication of <a href='http://pss.sagepub.com/content/20/5/619.short' target='_blank'> \
	Yuan and Fisher (2009) </a>, we first have children find a few familiar verbs on the screen:

<video class='participantvideo' controls>
  <source src= "video/mp4/clapping.mp4"  type="video/mp4">
  <source src="video/webm/clapping.webm" type="video/webm">
  <source src= "video/ogv/clapping.ogv"  type="video/ogg">
</video>

<p> For the second verb the parent is asked to close his/her eyes so as not to influence the child:

<video class='participantvideo' controls>
  <source src= "video/mp4/tickling.mp4"  type="video/mp4">
  <source src="video/webm/tickling.webm" type="video/webm">
  <source src= "video/ogv/tickling.ogv"  type="video/ogg">
</video>

<p> Children then watch a brief video where two women introduce a made-up verb like 'daxing.'  Some children hear a transitive verb (one that takes an object, like "She daxed the table") and some hear an intransitive verb ("She daxed").

<video class='participantvideo' controls>
  <source src= "video/mp4/novelverbs_ex1_dialogue.mp4"  type="video/mp4">
  <source src="video/webm/novelverbs_ex1_dialogue.webm" type="video/webm">
  <source src= "video/ogv/novelverbs_ex1_dialogue.ogv"  type="video/ogg">
</video>

<p> Afterwards, children see two actions on the screen: an action with just one participant and an action with two participants.  

<video class='participantvideo' controls>
  <source src= "video/mp4/intrans4_trans4.mp4"  type="video/mp4">
  <source src="video/webm/intrans4_trans4.webm" type="video/webm">
  <source src= "video/ogv/intrans4_trans4.ogv"  type="video/ogg">
</video>

<p> Children who heard a transitive verb are more likely to look at the action with two participants when asked to "find daxing."  But this effect vanishes in a control condition where the child is simply asked "what's happening?"

<video class='participantvideo' controls>
  <source src= "video/mp4/novelverbs_ex4_novel.mp4"  type="video/mp4">
  <source src="video/webm/novelverbs_ex4_novel.webm" type="video/webm">
  <source src= "video/ogv/novelverbs_ex4_novel.ogv"  type="video/ogg">
</video>

<p> Of course, children may choose to look at particular scenes for many different reasons.  Over many children, though, these effects average out and we can look for differences caused just by the experimental condition.

<p> Note: All parents/guardians shown above gave permission for their videos to be used for publicity.

</div>