<div class="about_frag instructions">

    <h1>Participating online</h1>
	
	<ul>
	
	<li><b>So how does this work?</b>
	
	<p>This is a website where parents and children can participate in research about cognitive development.  Instead of coming to a university lab, families do a brief activity at the computer and send us a webcam video of their participation!
	
	<p>If you have a child between 4 months and 7 years old and would like to participate, look on our 'Studies' page to see what we have going on for your child's age range.  You'll need a working webcam attached to your computer to participate.
	
	<p>When you select a study, you'll be asked to read a consent form and record yourself stating that you and your child agree to participate.  Then we'll guide you through what will happen during the study, including screenshots from any videos that will be shown.  Depending on your child's age, your child may answer questions directly or we may be looking for indirect signs of what she thinks is going on--like how long she looks at a surprising outcome.
	
	<p>Some portions of the study will be recorded on your webcam and stored on your computer until the end of the study.  Then you'll confirm that you are ready to send, and the videos will be encrypted and sent back to MIT.  Trained researchers will watch the video and record your child's responses--for instance, where he pointed, or how long she looked at each image.  We'll put these together with responses from lots of other children to learn more about how kids think! 
	
	</li><li> <b>Is our information kept confidential?</b>
	
	<p>We do not publish or use identifying information about individual children.  We do not collect names, and we use birthdates only to figure out how old children are at the time of the study.  
	
	<p>The video you record is typically viewed only by researchers in the Early Childhood Cognition Lab.  Occasionally we may also show a video clip at a scientific conference or in a journal article.  
	
	</li><li><b>What information does the lab use from our video?</b>
	
	<p>For children under about two years old, we usually design our studies to let their eyes do the talking!  We're interested in where on the screen your child looks and/or how long your child looks at the screen rather than looking away.  Your child's decisions about where to look can give us lots of information about what he or she understands.  Here are some of the techniques our lab uses to learn more about how children learn.
	
	<ul>
	<li> <b> Habituation: </b></li>
	
		<p>This is a fancy name for getting bored.  In a habituation study, we first show infants many examples of one type of object or event--for instance, lots of pictures of cats.  Infants typically look for a long time at the first pictures, but then they start to look away more quickly.  Once their looking times are much less than they were initially, we show either a picture from a new category (for instance, a dog) or a new picture from the familiar category (a cat).  If infants now look longer to the dog but not the cat, we can tell that they understood--and got bored of--the category "cat" during habituation.
	
	<li> <b> Violation of expectation: </b>
		<p>This is a fancy name for "Surprise!"  Infants and children already have rich expectations about how events work.  Children tend to look longer at things they find surprising, so in some cases, we can take their looking times as a measure of how surprised they are.
	
	</li>
	<li> <b> Preferential looking: </b>  
		 <p>Even when they seem to be passive observers, children are making lots of decisions about where to look and what to pay attention to.  In this technique, we present children with a choice between two side-by-side images or videos, and see if children spend more time looking at one of them.  If they do show a preference, this also means that they can distinguish between the types of images or videos!
		 
		 <p>For example, in the "Talking Faces" study children see two faces side-by-side, each reading a different Dr. Seuss story.  However, we only play the sound from one of the stories.  If children show a preference for the "speaking" face over the "silent" face, this shows that they are able to match the movements of the face to the voice that they hear.
	</li>
	
	<li> <b> Predictive looking: </b></li>
	
	<p>Children can often make sophisticated predictions about what they expect to see or hear next.  One way we can see those predictions in young children is to look at their eye movements.  For example, if a child sees a ball roll behind a barrier, he may look to the other edge of the barrier, expecting the ball to emerge there.  We may also set up artificial predictive relationships--for instance, the syllable "da" means a toy will appear at the left of the screen, and "ba" means a toy will appear at the right.  Then we can see whether children learn these relationships, and how they generalize, by watching where they look when they hear a syllable.
	
	</ul>

	<p>Older children may simply be able to answer spoken questions about what they think is happening.  For instance, in the "Cause and Effect" study, children hear a story and are asked which of two possible events caused Bunny's tummyache.  In the "Learning from Others" study, two women call an object two different made-up names, and children are asked which is the correct name for the object.
	
	<p>Another way we can learn about how older children (and adults) think is to measure their reaction times.  For instance, we might ask you to help your child learn to press one key when a circle appears and another key when a square appears, and then look at factors that influence how quickly they press a key.	
	
	</li><li><b>Why are you running studies online?</b>
	
	<p>Traditionally, developmental studies happen in a quiet room in a university lab.  We call or email local parents to see if they'd like to take part and schedule an appointment for them to come visit our lab.  Our studies take less than twenty minutes, and involve short games or videos that families generally enjoy.  So why complement our in-lab studies with online ones?  We're hoping to...
	<ul>
	<li> Make it easier for you to take part in research, especially for families without a stay-at-home parent</li>
	<li> Work with more kids when needed--right now a limiting factor in designing studies is the time it takes to recruit participants </li>
	<li> Draw conclusions from a more representative population of families--not just those who live near a university and are able to visit the lab during the day</li>
	<li> Make it easier for families to continue participating in longitudinal studies, which may involve multiple testing sessions separated by months or years </li>
	<li> Observe more natural behavior because children are at home rather than in an unfamiliar place </li>
	<li> Create a system for learning about special populations--for instance, children with specific developmental disorders </li>
	<li> Make the procedures we use in doing research more transparent, and make it easier to replicate our findings </li>
	<li> Communicate with families about the research we're doing and what we can learn from it </li>	
	</ul>
	
	</li>
	
	</ul>
	
</div>