<!-- This ID is important and if changed will not display images properly -->
<div id="consent" align="center"></div> <br/>
<div class="consent_frag">
  <div class='experiment_overview'> 
	  <h1> One, two, lots!: overview </h1> 
	  <ul class='overview-list'> <li> <b> Age range: </b> 18 months through 5-year-olds</li> 
		   <li> <b> Duration: </b> 15 minutes </li> 
		   <li> <b> What you'll need: 15 small, roughly identical objects your child can pick up (e.g., crayons, blocks, pegs)
		   <li> <b> What happens: </b> We'll guide you through asking your child for various numbers of objects ("Can you give me THREE?  Can you give me FIVE?") and you'll record how many your child actually gives you.  You'll also be videotaped so that our lab can double-check these responses and study how children learn number words.</li> 
		   <li> <b> What you'll learn: </b> At the end of the study you'll get a report explaining your child's current stage of understanding number words.  Even if your child can already recite the numbers from one to ten, he or she may only know the meanings of the first few! You can repeat this study later to see your child's progress.</li> 
	  </ul>
  </div>
  
  <div id='consent_div'> </div>

</div>