<!-- This ID is important and if changed will not display images properly -->
<div id="consent" align="center"></div> <br/>
<div class="consent_frag">
  <div class='experiment_overview'> 
  	<h1>Intuitive probability: overview</h1>
  <ul class='overview-list'> <li> <b> Age range: </b> 11 and 12 month olds</li> 
       <li> <b> Duration: </b> Five to ten minutes </li> 
       <li> <b> What happens: </b> We'll show some simple "lottery machines" with blue and yellow shapes and measure how long your child looks at more and less probable outcomes.</li> 
	   <li> <b> What we're studying: </b> What expectations infants have about events they've never seen before. </li> </ul>
  </div>

    <div id='consent_div'> </div>

</div>