<style type="text/css">input[type="radio"] 
{    margin-top: 3px;    vertical-align: top;    margin-right: 3px;}
</style>
Select the privacy level for the video of your participation:
<table>
<tr>	
<td><input type="radio" name="participant_privacy" value="private" ></td>
<td>In-lab use only (only researchers from MIT's Early Childhood Cognition Lab may view your video)</td>
</tr> 
<tr><p>	
<td><input type="radio" name="participant_privacy" value="scientific" ></td>
<td>Scientific use only (e.g., a short clip may be shown at a scientific conference to demonstrate typical responses)</td></p></tr> 
<tr><p>	
<td><input type="radio" name="participant_privacy" value="free" ></td>
<td>Publicity and educational use (video may be used for publicity or educational purposes online or in the press in addition to for research purposes)</td></p></tr></table>