<style type="text/css">input[type="radio"] 
{    margin-top: 3px;    vertical-align: top;    margin-right: 3px;}
</style>
<div id="error"></div>
<p> Thank you so much for participating!  We appreciate every family's help.  No matter how your child responded, we can learn something from his or her behavior--for instance, if he or she got bored and decided to stop playing, we know we need to make studies that are more fun!
<p> Select the privacy level for the video of your participation:
<table>

<tr><p>	
<td><input type="radio" name="participant_privacy" value="free" onclick="function(event){handleprivacyclick(event);}"></td>
<td>Publicity and educational use (video may be used for publicity or educational purposes online or in the press in addition to for research purposes)</td></p></tr>

<tr id="confirmfreediv" style="display:none;">
<td colspan="2">
<label for="confirmfree"> <p>To confirm, please type "These videos may be shared freely for publicity or educational purposes" in the box below.</p></label>
<p><input name="confirmfree" id="confirmfree" size="60" type="text" /></p>
</td>
</tr>

<tr><p>	
<td><input type="radio" name="participant_privacy" value="scientific"  onclick="function(event){handleprivacyclick(event);}"></td>
<td>Scientific use only (e.g., a short clip may be shown at a scientific conference to demonstrate typical responses)</td></p></tr> 

<tr>	
<td><input type="radio" name="participant_privacy" value="private"  onclick="function(event){handleprivacyclick(event);}"></td>
<td>In-lab use only (only researchers from MIT's Early Childhood Cognition Lab may view your video)</td>
</tr> 

<tr><p>	
<td><input type="radio" name="participant_privacy" value="withdraw"  onclick="function(event){handleprivacyclick(event);}"></td>
<td>WITHDRAW from the study (your video will be destroyed and no one may view it or any text you submitted)</td></p></tr> 

</table>