<div id='resources' class='contact_frag'>

<div class='activity'> 
<p> <h2> Find a developmental lab near you </h2>
<img src='./img/inlab.png' class='activityvideo'>

<div class='blurb activitysummary'>
<p>Interested in participating in research in person?  Find a list of labs that study child development in your state.</p> 
<p>Did we miss your lab, or one you know about?  Our apologies, and please let us know at <p><b>lookit-ed@mit.edu.</b> </p>
<select id='state_selector' onchange='show_state_labs();'>
	<option value="NA">[Select a state...]</option>
	<option value="AL">Alabama</option>
	<option value="AK">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
</select>
<div id='lab_list'> 
	<h2> <span id='state_name'></span> </h2>
	<p> <span id='labs_in_state'></span> </p> 
</div>
</div>
</div>

<h2 style='clear:both'> Looking for other 'citizen science' projects your family can contribute to? </h2>

<p> Want to model scientific exploration for your child?  (Or looking to explore the world OUTSIDE your infant's mind?)  Check out <a href='http://scistarter.com/index.html' target='_blank'>SciStarter</a>, which has many projects suitable for elementary and secondary school age children. 

<h2 style='clear:both'> Activities to try at home </h2>

<p> Want to learn more about cognitive development?  Here are some activities that may give you some insight into your own child's developing mind.  Instead of studies our lab is running, these are "at home labs" for parents to try on their own.

</p>

<div class='activity'> 
<p> <h3> Let your baby choose: understanding your infant’s preferences </h3>
<a href='http://www.mit.edu/~kimscott/pacifier.html'>
<img src='./img/pacifier.png' class='activityvideo'>
</a>
<div class='blurb activitysummary'>
<p> <b> Age range: </b> 0 to 6 months
<p> <b> What you'll need: </b> A pacifier that your infant will suck on for 
about 15 minutes at a time; the operant conditioning web tool available 
<a href='http://www.mit.edu/~kimscott/pacifier.html'> here </a>
<p> In this lab, you’ll let your baby control what sound is played by sucking faster or slower on a pacifier. We recommend starting by trying to observe his or her preference for hearing music or a heartbeat. 
</div>
</div>

<div class='activity'> 
<p> <h3> (COMING SOON) Learning to count: measuring your child's N-knower level </h3>

<img src='./img/nknower.png' class='activityvideo'>

<div class='blurb activitysummary'>
<p> <b> Age range: </b> 1.5 to 4 years
<p> <b> What you'll need: </b> About 10 small objects (blocks, markers, etc.) for your child to pick up
<p> In this lab, you’ll find out how many number words your toddler or preschooler understands.  Before learning to count, children go through distinct "number-knower" stages: first they understand the word "one" but treat two and above as "some," then they understand "one" and "two" but treat three and above as "many," and so on.  Even if your child can recite the numbers from one to twenty, he or she may still be learning what they all mean!
</div>
</div>

<div class='activity'> 
<p> <h3> (COMING SOON) Learning about other minds: your child's developing theory of mind </h3>

<img src='./img/falsebelief.png' class='activityvideo'>

<div class='blurb activitysummary'>
<p> <b> Age range: </b> 2.5 to 5 years
<p> <b> What you'll need: </b> A box/container that usually holds one thing (e.g. Cheerios) and something unexpected to put inside instead; two containers to hold two objects your child doesn't know a name for (weird household objects like whisks or parts that fell out of the washing machine last time you tried to fix it will work great)

<p> In this lab, you’ll see how your child thinks about what other people are thinking.  Children under about four years of age tend to show a lot of trouble understanding scenarios where someone else knows less than they do.  They will often absolutely insist that everyone knows what they themselves know!
</div>
</div>



</div>