<!-- This ID is important and if changed will not display images properly -->
<!--<div id="consent" align="center"></div> <br/>-->

<div class="consent_frag">

	<div class='experiment_overview'> 
	  <h1> Talking faces study</h1>
	  <ul class='overview-list' style='list-style:none'> <li> <b> Age range: </b> 3 months to 2 years</li> 
		   <li> <b> Duration: </b> Five minutes </li> 
		   <li> <b> What happens: </b> Your child will see four short movies (under fifteen seconds each) of a woman's face reading a nursery rhyme</li> 
		   <li> <b> What we're studying: </b> Which movies your child spends more time looking at--the faces that match the sound or the faces that don't?</li> </ul>
	</div>
	
	<div id='consent_div'> </div>
	
</div>
