  <div class='consent_frag'>
  
  <div class='experiment_overview'> 
    
  <h1> Overview: Learning from others</h1>
  <ul> <li> <b> Age range: </b> 3-, 4-, and 5-year-olds</li> 
       <li> <b> Duration: </b> Ten minutes </li> 
       <li> <b> What happens: </b>  First your child will see two actors naming familiar objects.  Sometimes they're correct, and sometimes they're not.  Then we'll show the same actors naming unfamiliar objects, and ask your child some questions about which answers he or she trusts.</li> 
	   <li> <b> What we're studying: </b> How children track and use information about reliability. We'll provide a more complete explanation after the study. </li> </ul>
</div>

<div id='consent_div'> </div>

</div>