<div class="instructions scientists">

<h1>Meet the scientists!</h1>

<div class='blurb'>

<div id='picdiv'>

    <div class="thumb whole">
        <img src="img/kimandremy.png" title="Kim Scott" alt="Kim Scott" />
        <div>
            <div>
               <h2> Kim Scott </h2>
			   <p> 	Kim is a graduate student in the Early Childhood Cognition Lab and Mama to four-and-a-half ("and two quarter inches!") year old Remy.  She developed Lookit partly to enable other single parents to participate in research!</p>  
	<p><b>Research interests:</b> Origins of conscious experience--or what it's like to be a baby
	<p><b>Hobbies:</b> Salsa dancing and bicycling
            </div>
        </div>
    </div>
	
				<div class="thumb whole">
        <img src="img/laura.JPG" title="Laura Schulz" alt="Laura Schulz" style='clear:left'/>
        <div>
            <div>
               <h2> Laura Schulz</h2>
			  <p>Laura is the PI of the Early Childhood Cognition Lab. </p>
			   <p><b>Research interests:</b>   How children arrive at a common-sense understanding of the physical and social world through exploration and instruction.  
			   <p><b>Hobbies:</b> hiking, reading, and playing
            </div>
        </div>
    </div>	
	
	<div class="thumb whole">
        <img src="img/jean.jpg" title="Jean Chow" alt="Jean Chow" style='clear:left'/>
        <div>
            <div>
               <h2>Jean Chow</h2>
			   <p>Jean is a junior at MIT majoring in Brain & Cognitive Sciences.  She answers questions from Lookit participants and codes the videos you send in, recording children's answers or looking time.
               <p><b>Research interests:</b>  cognitive development and learning in young children
			   <p><b>Hobbies:</b> Running, cycling, Taekwondo, art, being outdoors, chilling with her dog
			</div>
        </div>
    </div>
	
	<div class="thumb whole">
        <img src="img/melissa.png" title="Melissa Kline" alt="Melissa Kline" style='clear:left'/>
        <div>
            <div>
               <h2> Melissa Kline </h2>
			   <p>Melissa is a graduate student in the Early Childhood Cognition Lab. She advised and designed stimuli for the "Learning New Verbs" study.
			   <p><b>Research interests:</b> Interfaces between language and cognition - how young children match up complex sentences with a complex world, and how they use what they know about people to learn language.
			   <p><b>Hobbies:</b> Sewing, tango, and singing.
            </div>
        </div>
    </div>
	
	<div class="thumb whole">
        <img src="img/lookit_tomer.jpg" title="Tomer Ullman" alt="Tomer Ullman" />
        <div>
            <div>
				<h2> Tomer Ullman </h2>
				<p> Tomer is a graduate student working in collaboration with the Early Childhood Cognition Lab, father of 2-year-old Gabriel. </p>  
				<p><b>Research interests:</b> How babies and children learn intuitive physics and intuitive psychology 
				<p><b>Hobbies:</b>  Running and board games
            </div>
        </div>
    </div>
	
	    <div class="thumb whole">
        <img src="img/rachel.png" title="Rachel Magid" alt="Rachel Magid" />
        <div>
            <div>
               <h2> Rachel Magid </h2>
			   <p> Rachel is the lab coordinator for the ECCL and is happy to answer questions and hear about your experience participating in online research studies on Lookit. </p>  
	<p><b>Research interests:</b>  Learning and imagination--how do our goals help us learn?
	<p><b>Hobbies:</b>  Reading historical fiction and cooking
            </div>
        </div>
    </div>

		<div class="thumb whole">
        <img src="img/julian.jpg" title="Julian Jara-Ettinger" alt="Julian Jara-Ettinger" style='clear:left'/>
        <div>
            <div>
               <h2> Julian Jara-Ettinger </h2>
			  <p>Julian is a third-year graduate student in the Early Childhood Cognition Lab.
			   <p><b>Research interests:</b>  The development of our commonsense psychology. What do children understand about minds?
			   <p><b>Hobbies:</b> Building stuff with legos and playing music.
            </div>
        </div>
    </div>
	
			<div class="thumb whole">
        <img src="img/hilary.jpg" title="Hilary Richardson" alt="Hilary Richardson" style='clear:left'/>
        <div>
            <div>
               <h2> Hilary Richardson</h2>
			  <p>Hilary is a graduate student in the Saxe lab at MIT, which works to understand how we think about other people. Since she's interested primarily in how the ability to understand other people develops, she works mostly with kids, and hangs around the Early Childhood Cognition Lab quite a bit!
			   <p><b>Research interests:</b>   Understanding how young children and babies think about other people.
			   <p><b>Hobbies:</b> Spending time outside and Zumba
            </div>
        </div>
    </div>	
	
				<div class="thumb whole">
        <img src="img/hyo.png" title="Hyowon Gweon" alt="Hyowon Gweon" style='clear:left'/>
        <div>
            <div>
               <h2> Hyowon Gweon </h2>
			  <p>Hyo is a post-doc in the Early Childhood Cognition Lab!
			   <p><b>Research interests:</b>  Children's inferences and social evaluations in communicative contexts: how do children learn from information provided by others?
			   <p><b>Hobbies:</b> Making toys for her experiments
            </div>
        </div>
    </div>
	
		<div class="thumb whole">
        <img src="img/tobi.png" title="Tobias Gerstenberg" alt="Tobias Gerstenberg" style='clear:left'/>
        <div>
            <div>
               <h2> Tobi Gerstenberg </h2>
			  <p>Tobi is a postdoc in Prof Josh Tenenbaum's Computational Cognitive Science Lab and also works with Prof Laura Schulz and the members of the Early Childhood Cognition Lab. 
			   <p><b>Research interests:</b>   Causal judgments, attributions of responsibility, and counterfactual thinking. 
			   <p><b>Hobbies:</b> Playing guitar, many (if not most) ball sports.  
            </div>
        </div>
    </div>
	

	


	</div>
<hr>
</div>
</div>