<div class="instructions scientists">

<h1>Meet the scientists!</h1>



<div class='blurb'>

<div id='picdiv'>

    <div class="thumb whole">
        <img src="img/kimandremy.png" title="Kim Scott" alt="Kim Scott" />
        <div>
            <div>
               <h2> Kim Scott </h2>
			   <p> 	Kim is a graduate student in the Early Childhood Cognition Lab and Mama to five year old Remy.  She developed Lookit partly to enable other single parents to participate in research!</p>  
	<p><b>Research interests:</b> Origins of conscious experience--or what it's like to be a baby
	<p><b>Hobbies:</b> Salsa dancing and bicycling
            </div>
        </div>
    </div>
	
				<div class="thumb whole">
        <img src="img/laura.JPG" title="Laura Schulz" alt="Laura Schulz" style='clear:left'/>
        <div>
            <div>
               <h2> Laura Schulz</h2>
			  <p>Laura is the PI of the Early Childhood Cognition Lab. </p>
			   <p><b>Research interests:</b> How children arrive at a common-sense understanding of the physical and social world through exploration and instruction.  
			   <p><b>Hobbies:</b> hiking, reading, and playing
            </div>
        </div>
    </div>	
    
        
    <div class="thumb whole">
        <img src="img/junyi.jpg" title="Junyi Chu" alt="Junyi Chu" style='clear:left'/>
        <div>
            <div>
               <h2>Junyi Chu</h2>
               
			  <p> Junyi is a summer intern at the ECCL. She studied  Child Development at Vanderbilt.</p>
			   <p><b>Research interests:</b> How children form, understand, and use representations when learning abstract concepts.
			   <p><b>Hobbies:</b> Rock climbing, board and card games
            </div>
        </div>
    </div>	
    
    
    <div class="thumb whole">
        <img src="img/joseph.jpg" title="Joseph Alvarez" alt="Joseph Alvarez" style='clear:left'/>
        <div>
            <div>
               <h2>Joseph Alvarez</h2>
			  <p>Joseph, a senior at Skidmore College, is here all the way from Flagstaff, Arizona to do research with the ECCL.</p>
			   <p><b>Research interests:</b>  Analogy, recursion, language, and consciousness
			   <p><b>Hobbies:</b> Creating, discovering, and playing electric guitar!
            </div>
        </div>
    </div>	
    
    	</div>
<hr>
</div>
   
<h1>Alumni & collaborators</h1>
    
<div class='blurb'>

<div id='alumnidiv'>
    
    <div class="thumb whole">
        <img src="img/annie.jpg" title="Annie Dai" alt="Annie Dai" style='clear:left'/>
        <div>
            <div>
               <h2>Annie Dai (IAP, Sp 2015)</h2>
			   <p>Annie is a freshman at MIT majoring in Computer Science and Brain & Cognitive Sciences. She analyzes the videos you send in and creates activities that you can try to learn about cognitive development.</p>
			   <p><b>Research interests:</b> Understanding how our minds process information and how we learn
			   <p><b>Hobbies:</b> Running, spending time outdoors, listening to music
            </div>
        </div>
    </div>	
    
    <div class="thumb whole">
        <img src="img/rianna.jpg" title="Rianna Shah" alt="Rianna Shah" style='clear:left'/>
        <div>
            <div>
               <h2> Rianna Shah  (IAP, Sp 2015)</h2>
			  <p>Rianna is a freshman at MIT, double majoring in mathematics and management science. She codes the videos that are sent to the Lookit lab and records the children's responses.</p>
			   <p><b>Research interests:</b>   Cognitive development in young children
			   <p><b>Hobbies:</b> Singing, playing the piano, and karate!
            </div>
        </div>
    </div>	
    
    <div class="thumb whole">
        <img src="img/jeanyu.jpg" title="Jean Yu" alt="Jean Yu" style='clear:left'/>
        <div>
            <div>
               <h2> Jean Yu (IAP, Sp 2015)</h2>
			  <p>    Jean is an undergraduate Neuroscience major at Wellesley. She loves being with children and learning about how they think.
 </p>
			   <p><b>Research interests:</b>  creativity and critical thinking development; how children and infants recognize beauty and interact with art
 
			   <p><b>Hobbies:</b> ballet, figure skating, piano, making art, learning about art, reading about art, learning about the brain

            </div>
        </div>
    </div>	
    
    
    <div class="thumb whole">
        <img src="img/daniela.jpg" title="Daniela Carrasco" alt="Daniela Carrasco" style='clear:left'/>
        <div>
            <div>
               <h2> Daniela Carrasco (Sp 2015)</h2>
               
			  <p>Daniela is a freshman at MIT, double majoring in brain and cognitive science as well as computer science. She analyzes the videos that you send to the Lookit lab. </p>
			   <p><b>Research interests:</b>   Social psychology, cognitive development, neurology and software development
			   <p><b>Hobbies:</b> Crossfit athlete, swimming, boxing, painting and sketching
            </div>
        </div>
    </div>	
    
    <div class="thumb whole">
        <img src="img/hope.jpg" title="Hope Fuller-Becker" alt="Hope Fuller-Becker" style='clear:left'/>
        <div>
            <div>
               <h2> Hope Fuller-Becker (Sp 2015)</h2>
			  <p>Hope is an undergraduate at Wellesley College studying Neuroscience and Psychology.  She codes the videos that are sent to the Lookit lab and records the children’s responses. </p>
			   <p><b>Research interests:</b>   how creativity helps young children learn and interact with their environment
			   <p><b>Hobbies:</b> drawing, painting, reading and running
            </div>
        </div>
    </div>	
    
	
	<div class="thumb whole">
        <img src="img/jean.jpg" title="Jean Chow" alt="Jean Chow" style='clear:left'/>
        <div>
            <div>
               <h2>Jean Chow (Fa 2014)</h2>
			   <p>Jean is a junior at MIT majoring in Brain & Cognitive Sciences.  She answers questions from Lookit participants and codes the videos you send in, recording children's answers or looking time.
               <p><b>Research interests:</b>  cognitive development and learning in young children
			   <p><b>Hobbies:</b> Running, cycling, Taekwondo, art, being outdoors, chilling with her dog
			</div>
        </div>
    </div>
    
	<div class="thumb whole">
        <img src="img/melissa.png" title="Melissa Kline" alt="Melissa Kline" style='clear:left'/>
        <div>
            <div>
               <h2> Melissa Kline </h2>
			   <p>As a graduate student in the Early Childhood Cognition Lab, Melissa advised and designed stimuli for the "Learning New Verbs" study.
			   <p><b>Research interests:</b> Interfaces between language and cognition - how young children match up complex sentences with a complex world, and how they use what they know about people to learn language.
			   <p><b>Hobbies:</b> Sewing, tango, and singing.
            </div>
        </div>
    </div>
    
    <div class="thumb whole">
        <img src="img/rachel.png" title="Rachel Magid" alt="Rachel Magid" />
        <div>
            <div>
               <h2> Rachel Magid </h2>
			   <p> Rachel is now a graduate student at ECCL after two years as our lab coordinator! </p>  
			<p><b>Research interests:</b>  Learning and imagination--how do our goals help us learn?
			<p><b>Hobbies:</b>  Reading historical fiction and cooking
            </div>
        </div>
    </div>
    
    <!--
	
	<div class="thumb whole">
        <img src="img/lookit_tomer.jpg" title="Tomer Ullman" alt="Tomer Ullman" />
        <div>
            <div>
				<h2> Tomer Ullman </h2>
				<p> Tomer is a graduate student working in collaboration with the Early Childhood Cognition Lab, father of 2-year-old Gabriel. </p>  
				<p><b>Research interests:</b> How babies and children learn intuitive physics and intuitive psychology 
				<p><b>Hobbies:</b>  Running and board games
            </div>
        </div>
    </div>
	


		<div class="thumb whole">
        <img src="img/julian.jpg" title="Julian Jara-Ettinger" alt="Julian Jara-Ettinger" style='clear:left'/>
        <div>
            <div>
               <h2> Julian Jara-Ettinger </h2>
			  <p>Julian is a fourth-year graduate student in the Early Childhood Cognition Lab.
			   <p><b>Research interests:</b>  The development of our commonsense psychology. What do children understand about minds?
			   <p><b>Hobbies:</b> Building stuff with legos and playing music.
            </div>
        </div>
    </div>
	
			<div class="thumb whole">
        <img src="img/hilary.jpg" title="Hilary Richardson" alt="Hilary Richardson" style='clear:left'/>
        <div>
            <div>
               <h2> Hilary Richardson</h2>
			  <p>Hilary is a graduate student in the Saxe lab at MIT, which works to understand how we think about other people. Since she's interested primarily in how the ability to understand other people develops, she works mostly with kids, and hangs around the Early Childhood Cognition Lab quite a bit!
			   <p><b>Research interests:</b>   Understanding how young children and babies think about other people.
			   <p><b>Hobbies:</b> Spending time outside and Zumba
            </div>
        </div>
    </div>	

	
		<div class="thumb whole">
        <img src="img/tobi.png" title="Tobias Gerstenberg" alt="Tobias Gerstenberg" style='clear:left'/>
        <div>
            <div>
               <h2> Tobi Gerstenberg </h2>
			  <p>Tobi is a postdoc in Prof Josh Tenenbaum's Computational Cognitive Science Lab and also works with Prof Laura Schulz and the members of the Early Childhood Cognition Lab. 
			   <p><b>Research interests:</b>   Causal judgments, attributions of responsibility, and counterfactual thinking. 
			   <p><b>Hobbies:</b> Playing guitar, many (if not most) ball sports.  
            </div>
        </div>
    </div>
 -->
	

	


	</div>
<hr>
</div>
</div>