<div class="upload_frag">
  <p>
    Thank you for your help with this study! Please press "OK" below to start transferring your encrypted recording to our secure server, or "Cancel" to withdraw from the study without sending any data.
  </p>
  <p>
    If your child did not complete the task, something went wrong, or you decided to end the study early, <em>we would still be very grateful for your recording.</em>  It's common for kids to lose interest or for something to come up at home. Seeing the full collection of responses will let us both fine-tune our studies and draw more valid conclusions.
  </p>
</div>
